body {
    background: rgb(187, 247, 237);
    font-family: monospace;
}

.container-table{
    width: 90%;
    background: white;
    margin: 50px auto;
    box-shadow: 0 0 20px #333;

    display: grid;
    grid-template-columns: repeat(3, 33.4%);
    grid-auto-rows: 50px;
}

.table-title{
    grid-column-start: 1;
    grid-column-end: 4;

    background: rgb(69, 221, 158);
    color: rgb(15, 114, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.9cm;
}
.table-header, .table__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-header{
    font-weight: bold;
    font-size: 0.4cm;
}
.table__item{
    padding: 10px;
    font-size: 0.3cm;
}